<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль сотрудника</title>
    <link rel="stylesheet" href="style.css">

   
  </head>
  <body>
    <header>
      <h2>ФИО</h2>
      <h3>Должность</h3>
      <h3>Email</h3>
    </header>
    <main>
      <article>
        <section>
          <p>Бонусные баллы:</p>
        </section>
        
      </article>
    </main>
    <footer>
      <p>Cсылки на другие страницы</p>
    </footer>
    
  </body>
</html>