<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль сотрудника</title>
    <link rel="stylesheet" href="style.css">

   
  </head>
  <body>
  <div class="modern">
    <header>
      <h2>ФИО Сотрудника: |{{ full_name }}</h2>
      <h3>Должность:      |{{ job_title }}</h3>
      <h3>Почта:          |{{ email }}</h3>
    </header>

      <main>
        <article>
          <section>
            <p>Бонусные баллы: |{{ points }}</p>
          </section>


        </article>
      </main>
      <footer>
        <p>Cсылки на другие страницы</p>
        <a href="/Profile_menu" class="voiti">Перейти на меню профиля</a>
        <a href="/menu" class="voiti">Перейти в магазин</a>
      </footer>
  </div>
  </body>
</html>